@tailwind base;
@tailwind components;
@tailwind utilities;

/* keep your resets above layer */
html,
body { max-width: 100vw; overflow-x: hidden; }
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* { box-sizing: border-box; padding: 0; margin: 0; }
a { color: inherit; text-decoration: none; }

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 350 100% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 48 100% 50%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 0 0% 90%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 48 100% 50%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 350 100% 24%;

    --chart-1: 350 100% 24%;
    --chart-2: 48 100% 50%;
    --chart-3: 220 14% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 24 9.8% 10%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 350 100% 30%;
    --primary-foreground: 0 0% 100%;

    --secondary: 48 100% 45%;
    --secondary-foreground: 0 0% 100%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 48 100% 45%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 48 100% 50%;

    --chart-1: 350 100% 30%;
    --chart-2: 48 100% 45%;
    --chart-3: 220 14% 40%;
    --chart-4: 280 65% 60%;
    --chart-5: 160 60% 45%;
  }

  * { @apply border-border; }
  html, body, #__next { height: 100%; }   /* ensure viewport fill */
  body { @apply bg-background text-foreground; }
}
